@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  box-sizing: border-box;
  flex-wrap: wrap;
}

body {
  padding: 0;
  margin: 0;
  border-style: 18px;
  font-family: "Barlow", serif;
}

#header {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: 100% 100%;
  height: clamp(40rem, 100vh, 40rem);
  width: 100%;
}
#header #nav-header {
  text-align: center;
  word-wrap: wrap;
  word-spacing: 2rem;
  letter-spacing: 0.8rem;
  color: white;
  font-family: "Fraunces", serif;
  font-size: 2.8rem;
  font-weight: 900;
}
#header #arrow-down {
  position: absolute;
  top: 17.5rem;
  left: 48%;
  height: 7rem;
  width: 1.9rem;
}
#header .nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px 15px;
}
#header .nav-container .logo {
  width: 10rem;
}
#header .nav-container .nav-links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
#header .nav-container .nav-links-container .nav-links {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}
#header .nav-container .nav-links-container .nav-links:hover {
  background-color: white;
  opacity: 0.7;
  color: black;
}
#header .nav-container .nav-links-container .special-link {
  background-color: white;
  padding: 15px 25px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: black;
  margin-left: 1rem;
}
#header .nav-container .nav-links-container #close {
  display: none;
}
#header .nav-container #hamburger {
  display: none;
}

#main-section {
  display: flex;
  flex-direction: column;
}
#main-section .each-description-container {
  display: flex;
}
#main-section .each-description-container .product-description-texts {
  width: 50%;
  height: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 6rem;
}
#main-section .each-description-container .product-description-texts h1 {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  line-height: 2.6rem;
}
#main-section .each-description-container .product-description-texts p {
  color: hsl(232, 10%, 55%);
}
#main-section .each-description-container .product-description-texts h3 {
  width: 7.5rem;
  line-height: 1.3rem;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}
#main-section .each-description-container .product-description-texts h3::after {
  content: "";
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  left: 0;
  border-radius: 50px;
}
#main-section .each-description-container .product-description-texts #yellow::after {
  content: "";
  background-color: rgba(255, 255, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  left: 0;
  border-radius: 50px;
}
#main-section .each-description-container .description-image {
  width: 50%;
  height: 31rem;
}
#main-section .each-description-container .embedded-image-group {
  display: flex;
  height: clamp(28rem, 80vh, 32rem);
  width: 50%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 6rem;
  text-align: center;
  padding-bottom: 2rem;
}
#main-section .each-description-container .embedded-image-group h2 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  text-transform: capitalize;
}
#main-section .each-description-container .graphic-design {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  color: hsl(167, 40%, 24%);
  background-size: 100% 100%;
}
#main-section .each-description-container .photography {
  background: url(../images/desktop/image-photography.jpg);
  color: hsl(198, 62%, 26%);
  background-size: 100% 100%;
}
#main-section .client-testimonial-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 3rem;
  color: hsl(213, 9%, 39%);
}
#main-section .client-testimonial-section > h1:first-child {
  text-align: center;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
}
#main-section .client-testimonial-section > div {
  display: flex;
  flex-wrap: nowrap;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-between;
}
#main-section .client-testimonial-section > div .client-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 18rem;
}
#main-section .client-testimonial-section > div .client-testimonials img {
  width: 5rem;
  border-radius: 50%;
}
#main-section .client-testimonial-section > div .client-testimonials div {
  display: flex;
  flex-direction: column;
}
#main-section .client-testimonial-section > div .client-testimonials div .client-name {
  color: black;
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  font-weight: 700;
}
#main-section .all-image {
  display: flex;
}
#main-section .all-image img {
  width: 25%;
  height: clamp(23rem, 50vh, 25rem);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(169, 49%, 66%);
  row-gap: 2.5rem;
  padding: 2rem;
  height: clamp(20rem, 45vh, 25rem);
}
footer .svg {
  fill: hsl(167, 40%, 24%);
}
footer > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
footer > div:nth-child(2) .footer-links {
  text-decoration: none;
  color: hsl(167, 40%, 24%);
}
footer > div:last-child {
  display: flex;
  justify-content: center;
  text-align: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

@media only screen and (max-width: 1000px) {
  #main-section .client-testimonial-section {
    align-items: center;
  }
  #main-section .client-testimonial-section > div {
    justify-content: center;
  }
  #main-section .client-testimonial-section > div .client-testimonials {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media only screen and (max-width: 900px) {
  #main-section .each-description-container .product-description-texts {
    padding: 2rem 3rem;
  }
}
@media only screen and (max-width: 800px) {
  #header .nav-container .nav-links-container {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: clamp(15rem, 50%, 25rem);
    background-color: white;
    padding: 2rem;
    z-index: 2;
  }
  #header .nav-container .nav-links-container .nav-links {
    color: black;
  }
  #header .nav-container .nav-links-container .nav-links:hover {
    background-color: yellow;
    opacity: 1;
  }
  #header .nav-container .nav-links-container #close {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  }
  #header .nav-container .nav-links-container .special-link {
    background-color: yellow;
    opacity: 0.7;
  }
  #header .nav-container #hamburger {
    display: flex;
  }
  #main-section .each-description-container .embedded-image-group {
    padding: 0 2rem;
    padding-bottom: 2rem;
  }
  #main-section .client-testimonial-section > div {
    flex-wrap: wrap;
  }
  #main-section .client-testimonial-section > div .client-testimonials {
    width: 18rem;
  }
  footer {
    height: clamp(15rem, 35vh, 15rem);
  }
}
@media only screen and (max-width: 600px) {
  #main-section .each-description-container {
    flex-direction: column-reverse;
  }
  #main-section .each-description-container .product-description-texts {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  #main-section .each-description-container .description-image, #main-section .each-description-container .embedded-image-group {
    width: 100%;
  }
  #main-section .non-reverse {
    flex-direction: column;
  }
  #main-section .all-image img {
    height: clamp(15rem, 35vh, 15rem);
    width: 50%;
  }
}
@media only screen and (max-width: 500px) {
  #header #nav-header {
    word-spacing: 1rem;
    font-size: clamp(2rem, 7vw, 2.5rem);
    line-height: 3rem;
  }
  #main-section .each-description-container .product-description-texts h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 390px) {
  #header {
    background-image: url(../images/mobile/image-header.jpg);
    height: clamp(30rem, 100vh, 35rem);
  }
  #header .nav-container .nav-links-container {
    top: 4rem;
    width: 80%;
    left: 10%;
    height: clamp(15rem, 60vh, 20rem);
  }
  #header .nav-container .nav-links-container::before {
    content: "";
    position: absolute;
    border-bottom: 20px solid floralwhite;
    border-left: 20px solid transparent;
    width: 0;
    height: 0;
    top: -1.2rem;
    right: 0;
  }
  #header .nav-container .nav-links-container #close {
    display: none;
  }
  #header #arrow-down {
    top: clamp(16rem, 53vh, 19rem);
    width: 1.3rem;
    height: 6rem;
  }
  #main-section .each-description-container .product-description-texts {
    padding: 1rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  #main-section .each-description-container .graphic-design {
    background-image: url(../images/mobile/image-graphic-design.jpg);
    background-size: 100% 100%;
  }
  #main-section .each-description-container .photography {
    background-image: url(../images/mobile/image-photography.jpg);
    background-size: 100% 100%;
  }
  #main-section .client-testimonial-section {
    padding: 2rem 0.5rem;
  }
}
@media only screen and (max-width: 358px) {
  footer {
    height: -moz-fit-content;
    height: fit-content;
  }
  footer > div:nth-child(2) {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media only screen and (max-width: 306px) {
  body {
    font-size: 0.8rem;
  }
  #header #nav-header {
    font-size: 1.5rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.1rem;
  }
  #main-section .each-description-container .product-description-texts {
    height: -moz-fit-content;
    height: fit-content;
  }
  #main-section .each-description-container .product-description-texts h1 {
    font-size: 1.5rem;
  }
  #main-section .client-testimonial-section div .client-testimonials {
    width: -moz-fit-content;
    width: fit-content;
  }
  footer {
    height: -moz-fit-content;
    height: fit-content;
  }
  footer > div:nth-child(2) {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  footer > div:nth-child(3) {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */